<config platform="android" template="android (default)">Created: Sat Nov 22 21:30:30 2014
By: ahau
Using Template: android (default)

&lt;description to go here><option name="android-icon-dir" fromDef="true" value=""/>
    <option name="android-icon-group" fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>"/>
    <option name="android-icon-gallery" fromDef="true" value=""/>
    <option name="android-icon-nonstandard" fromDef="true" value=""/>
    <option name="android-external-res" fromDef="true" value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eFacebook/third-party/facebook-android-sdk/facebook/res;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/res;../../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/res"/>
    <option name="android-external-assets" fromDef="true" value=""/>
    <option name="android-install-location" fromDef="true" value="1"/>
    <option name="android-pkgname" fromDef="true" value="com.siyifan.FitMonster"/>
    <option name="icon" fromDef="false" value="icons/icon_FitMonster.png"/>
    <option name="splashscreen" fromDef="false" value="icons/splash_FitMonster.png"/>
    <option name="splashscreen-use-all" fromDef="false" value="1"/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="resources/common.icf;resources/app.icf"/>
    <option name="name" fromDef="false" value="FitMonster"/>
    <option name="caption" fromDef="false" value="FitMonster"/>
    <option name="provider" fromDef="true" value="ahau"/>
    <option name="copyright" fromDef="true" value="(C) ahau"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="android-manifest" fromDef="true" value=""/>
    <option name="android-custom-activity" fromDef="true" value=""/>
    <option name="android-extra-manifest" fromDef="true" value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/ExtraManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/ExtraManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/Fortumo/extras.manifest.txt"/>
    <option name="android-extra-application-manifest" fromDef="true" value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eFacebook/source/android/extra_app_manifest.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAmazonInAppPurchasing/source/android/AmazonInAppPurchasingManifestSnippet.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidMarketBilling/s3eAndroidMarketBillingManifest.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/ExtraAppManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/ExtraAppManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/Fortumo/extras.application.txt"/>
    <option name="android-extra-strings" fromDef="false" value="(app_id,fb_app_id)"/>
    <option name="android-supports-gl-texture" fromDef="true" value=""/>
    <option name="android-unsigned" fromDef="true" value=""/>
    <option name="android-tm" fromDef="true" value=""/>
</config>
