<config template="android (default)" platform="android">Created: Sat Nov 22 21:30:30 2014
By: ahau
Using Template: android (default)

&lt;description to go here><option value="" fromDef="true" name="android-icon-dir"/>
    <option value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" fromDef="true" name="android-icon-group"/>
    <option value="" fromDef="true" name="android-icon-gallery"/>
    <option value="" fromDef="true" name="android-icon-nonstandard"/>
    <option value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eFacebook/third-party/facebook-android-sdk/facebook/res;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/res;../../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/res" fromDef="true" name="android-external-res"/>
    <option value="" fromDef="true" name="android-external-assets"/>
    <option value="1" fromDef="true" name="android-install-location"/>
    <option value="com.ahau.teststg1" fromDef="true" name="android-pkgname"/>
    <option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="teststg1" fromDef="true" name="name"/>
    <option value="teststg1" fromDef="true" name="caption"/>
    <option value="ahau" fromDef="true" name="provider"/>
    <option value="(C) ahau" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="android-manifest"/>
    <option value="" fromDef="true" name="android-custom-activity"/>
    <option value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/ExtraManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/ExtraManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/Fortumo/extras.manifest.txt" fromDef="true" name="android-extra-manifest"/>
    <option value="../../../../../Applications/Marmalade.app/Contents/extensions/s3eFacebook/source/android/extra_app_manifest.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAmazonInAppPurchasing/source/android/AmazonInAppPurchasingManifestSnippet.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidMarketBilling/s3eAndroidMarketBillingManifest.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/ExtraAppManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/ExtraAppManifests.xml;../../../../../Applications/Marmalade.app/Contents/extensions/Fortumo/extras.application.txt" fromDef="true" name="android-extra-application-manifest"/>
    <option value="(app_id,fb_app_id)" fromDef="false" name="android-extra-strings"/>
    <option value="" fromDef="true" name="android-supports-gl-texture"/>
    <option value="" fromDef="true" name="android-unsigned"/>
    <option value="" fromDef="true" name="android-tm"/>
</config>
