<config platform="project" template="project (default)">Created: Sat Nov 22 21:30:30 2014
By: ahau
Using Template: project (default)

&lt;description to go here><option name="icon" value="" fromDef="false"/>
    <option name="splashscreen" value="resources/splash_FitMonster.png" fromDef="false"/>
    <option name="splashscreen-use-all" value="" fromDef="false"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="resources/common.icf;resources/app.icf" fromDef="true"/>
    <option name="name" value="FitMonster" fromDef="false"/>
    <option name="caption" value="FitMonster" fromDef="false"/>
    <option name="provider" value="siyifan" fromDef="true"/>
    <option name="copyright" value="(C) siyifan" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
