<config template="project (default)" platform="project">Created: Sat Nov 22 21:30:30 2014
By: ahau
Using Template: project (default)

&lt;description to go here><option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="teststg1" fromDef="true" name="name"/>
    <option value="teststg1" fromDef="true" name="caption"/>
    <option value="ahau" fromDef="true" name="provider"/>
    <option value="(C) ahau" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
